h1 {
    color: rgb(224, 24, 181);
    margin-left: 30px
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header *{
    border: solid;
}
.header{
    background-color: rgb(255, 242, 127);
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #0abae6;
}
.footer{
    display: flex;
    justify-content: flex-end;
    bottom: 0;
}
img{
    border-radius: 30px;
}
h2{
    font-size: 50px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a:link{
    color:rgb(38, 0, 255);
}
a:visited{
    color:rgb(111, 0, 255);
}
.menu{
    margin-right:30px;
}
.menu a{
    margin-left: 20px;
    margin-bottom: 20px;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +50%);
    opacity: 0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity: 0.44;
}
